#indicator {
  padding: 5px;
}
#status {
  width: 8px;
  height: 8px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
}
#chat {
  height: 300px;
  background-color: white;
}
#messages {
  top: 5px;
  padding: 5px;
  margin: 5px;
  height: 200px;
  background-color: #f4f6fa;
  overflow-y: scroll;
}
#input {
  width: 400px;
  margin: 5px;
}
#send {
  width: 300px;
  margin-left: 5px;
  height: 38px;
  margin-top: 4px;
}

#chat-control {
  display: flex;
}
